<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498329582291-82m907dab04p5fqv1e0f7kts147jk2df.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498329582291-82m907dab04p5fqv1e0f7kts147jk2df</string>
	<key>API_KEY</key>
	<string>AIzaSyA19KMW6U5snnOQWJwy6CpV7wlzTwULLOg</string>
	<key>GCM_SENDER_ID</key>
	<string>498329582291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Niko-Co..Instagram-LBTA</string>
	<key>PROJECT_ID</key>
	<string>instagramlbta-d810d</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramlbta-d810d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498329582291:ios:d32e5058eb4b4f0e0c7226</string>
	<key>DATABASE_URL</key>
	<string>https://instagramlbta-d810d.firebaseio.com</string>
</dict>
</plist>